In [3]:
'''Importar las librerias usadas para este algoritmo.'''
%matplotlib notebook
from sklearn import metrics
from scipy import stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
'''Carga del dataset con el delimitador punto y coma.'''
df = pd.read_csv('Car_Prices_Dataset.csv', sep=';')

In [5]:
'''Observamos los datos.'''
df.sample(10)

       Age      KM  Weight   HP  MetColor      CC  Doors  Price
1277  71.0   74000  1050.0  110         0  1600.0      3   7750
1135  77.0  105152  1015.0   86         0  1300.0      3   6750
435   47.0   78785  1119.0  110         1  1600.0      5  11500
942   58.0   54000  1035.0   86         0  1300.0      5   7350
119   13.0   57037  1115.0  110         0  1600.0      5  18950
1022  65.0   33000  1050.0  110         0  1600.0      3  10450
245   42.0   55968  1050.0  110         0  1600.0      3  11950
616   59.0  144521  1135.0   72         1  2000.0      5   6900
611   59.0  154783  1120.0   72         1  2000.0      3   7750
533   53.0   47451  1055.0  110         1  1600.0      3  12950

In [6]:
'''Analizamos la forma del dataframe, es decir cuantos datos posee, y cuantas columnas.
Para este dataset se tiene un total de 8 caracteristicas y una columna target.'''
df.shape

(1435, 8)